<launch>
<rosparam command="load" file="$(find drone_ball_catcher)/config/ball_colour.yaml" /> <!-- load yaml file for ball RGB range -->
<node name = "ball_locator_node" pkg="drone_ball_catcher" type="ball_locator" output = "screen" /> <!-- run the node for the depth camera to get xyz location of ball wrt to camera frame -->
<node name = "drone_test_1_node" pkg="drone_ball_catcher" type="drone_test_1" output = "screen" /> <!-- run control node to control path planning for drone -->
</launch>
